<div class="container">
    <div class="jumbotron">
        <h1>My Demo Home Page in static/index.ejs</h1>
        <h2>tracking app</h2>
        <a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
    </div>
</div>
